<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/index.css">
    <title>2048</title>
</head>
<body>

<div id="root"></div>

<!-- Summary Template -->
<script type="text/html" id="summaryTemplate">
    <div class="header">
        <h1 id="title">2048</h1>
        <div class="results">
            <div class="score">
                <h2>Score</h2>
                <div id="scoreResult">{{totalScore}}</div>
            </div>
            <div class="best">
                <h2>Best</h2>
                <div id="bestResult">{{bestScore}}</div>
            </div>
        </div>
    </div>
</script>

<!-- Matrix Template -->
<script type="text/html" id="matrixTemplate">
    <div>
        {{matrix}}
    </div>
    <div id="buttonBlock">
        <button id="newGameBtn">New Game</button>
    </div>
</script>

<script src="utils/pubSub.js"></script>
<script src="models/baseModel.js"></script>
<script src="utils/util.js"></script>
<script src='controllers/controller.js'></script>
<script src="views/baseView.js"></script>
<script src="views/summaryView.js"></script>
<script src="models/summaryModel.js"></script>
<script src="views/matrixView.js"></script>
<script src="models/matrixModel.js"></script>
<script src="views/appView.js"></script>

</body>
</html>
